extends layout

block content
  script(src="/angular/app.js")
  script(src="/controllers/userCtrl.js")
  script(src="/controllers/sessionCtrl.js")
  script(src="/controllers/blogsCtrl.js")


  div(ng-controller = "sessionCtrl")
    nav.navbar.navbar-default
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              a.navbar-brand(href='/#/') Home
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
              span(ng-if = "!isAuth")
                form.navbar-form.navbar-left(ng-submit="loginSubmit()" role='search')
                  .form-group
                    input.form-control(type='text', ng-model="user.email" placeholder='Email')
                    input.form-control(type='password', ng-model="user.password" placeholder='Password')
                  button.btn.btn-default(type='submit') Connection
              ul.nav.navbar-nav.navbar-right
                li
                  a(ng-if = "!isAuth" href='/#/register') Inscription
                li.dropdown
                  a.dropdown-toggle(ng-if = "isAuth" ng-click = "logout()" href="#/") Logout
  div(ng-view)
