extends layout

block content
  script(src="/angular/app.js")
  script(src="/controllers/userCtrl.js")
  script(src="/controllers/sessionCtrl.js")
  div(ng-controller = "sessionCtrl")
    form#login(ng-submit='loginSubmit();')
      h1#ff-proof.ribbon Your blog
      fieldset#inputs
        input#username(type='text', name='log', ng-model='user.email', placeholder='mail')
        input#password(type='password', ng-model='user.password', name='password', placeholder='Password')
        input#submit(type='submit', value='connexion')
      fieldset#actions
        p.option
        a(href='/#/register') Inscription
        div(ng-if = "isAuth")
          a( ng-click = "logout()" href="#/login") Logout
  div(ng-view)
