
<div >
	<form id="login" ng-submit="loginSubmit();">
	<h1 id="ff-proof" class="ribbon">Your blog</h1>
		<fieldset id="inputs">
			<input id="username" type="text" name="log" ng-model="user.email"placeholder="mail" />
			<input id="password" type="password" ng-model="user.password"name="password" placeholder="Password" />
			<input type="submit" id="submit" value="connexion"/>
		</fieldset>
		<fieldset id="actions">
			<p class="option"><a href="http://localhost:3000/#/register">Inscription</a></p>
		</fieldset>
	</form>
</div>