body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1 {
	display: inline-block;
}
#ff-proof {
	width: 20%;
	font-size: 1.5em;
}
#logout {
	display: inline-block;
	float:right;
}
#actions {
	width: 20%;
	height:100%;
	float: right;
	text-align: center;
	margin-top: 3%;
}
#bs-example-navbar-collapse-1 {
	background-color: #F3F3F3;
	margin-top: 1em;
	padding-bottom: 1em;
}
#inputs {
	width: 70%;
	margin: auto;
}
.bs-example {
	width: 60%;
}
.bs-example {
	margin: auto;
}