body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222;
  color: white;
}
li {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ul {
	margin-left:-3em;
}
ol, ul {
	list-style: none;
}
form {
	text-align: center;
}
a {
  color: #00B7FF;
}
h1 {
	display: inline-block;
}
h2 {
	display: inline-block;
	font-size: 2em;
}
p {
	display: inline-block;
	margin: 1em 24em 1em 24em;
}
p button {
	color:black;
}
#suppr {
	display: inline-block;
	margin-left: 2em;
}
.navbar-form input{
	margin-right: 2em;
}
.col-lg-6 {
	margin-left: 32em;
}
.jumbotron {
	text-align: center;	
}
.jumbotron h2 {
	margin: 0em auto 3em auto;
}