extends ../layout

block content
  script(src="/angular/appBlog.js")
  script(src="/controllers/userCtrl.js")
  script(src="/controllers/sessionCtrl.js")
  script(src="/controllers/blog/blogCtrl.js")
  div(ng-view)
