<div>
    <div class="col-lg-2" ng-if="isAdmin()">
        <div id="home-content" class="bs-component">
            <div class="jumbotron">
                <form ng-if="isAdmin()" class="add-post" ng-submit="addPost()">
                    <label>Titre
                        <input class="form-control" type="text" ng-model="newPost.title">
                    </label>
                    <label>Contenu
                        <textarea class="form-control" ng-model="newPost.content"></textarea>
                    </label>
                    <button class="btn btn-primary" type="submit">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="home-content" class="bs-component">
            <div class="jumbotron">
                <div class="post" ng-repeat="(articleKey, article) in blog.articles | reverse">
                    <h3>{{ article.title }}<span> écrit par {{ article.author.username }}</span></h3>
                    <p>{{ article.content }}</p>
                    <ul ng-repeat="comment in article.comments">
                        <li>{{ comment.content }} <br><span>{{ comment.author.username }}</span></li>
                    </ul>
                    <span ng-if="isAdmin()" ng-click="postDelete(article)">delete</span>
                    <form ng-submit="addComment(article)" >
                        <label>Ajouter un commentaire:
                            <input type="text" ng-model="article.newComment">
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>