<div>
    <div class="post" ng-repeat="(articleKey, article) in blog.articles | reverse">
        <h3>{{ article.title }}</h3>
        <p>{{ article.content }}</p>
        <ul ng-repeat="comment in articles.comments">
            <li>{{ comment.content }} <span>{{ comment.author.username }}</span></li>
        </ul>
        <span ng-click="postDelete(article)">delete</span>
        <form ng-submit="addCommment(article)" >
            <label>Ajouter un commentaire:
                <input type="text" ng-model="article.newComment">
            </label>
        </form>
    </div>
    <form ng-if="isAuth" class="add-post" ng-submit="addPost()">
        <label>Titre {{ newPost.title }}
            <input type="text" ng-model="newPost.title">
        </label>
        <label>Contenu
            <textarea ng-model="newPost.content"></textarea>
        </label>
        <input type="submit" value="ajouter">
    </form>
</div>